<div class="p-non-exfoliate-outer-padding">

  {{#if block.data.details.entity}}
  <a class="p-link" href="https://autofocus.paloaltonetworks.com/#/sample/{{block.data.details.entity}}">View in AutoFocus </a><i
          class="fa fa-external-link p-grey"></i>
  {{/if}}

  {{#if block.data.details.total}}
        <div>
            <span class="p-key">Total Number of Hits: </span>
            <span class="p-value">{{block.data.details.body.total}}</span>
        </div>
  {{/if}}


{{#if block.data.details.body.hits}}
  {{#each block.data.details.body.hits as |data|}}

  {{#if data._source.malware}}
        <div>
            <span class="p-key">Malware: </span>
            <span class="p-value">{{data._source.malware}}</span>
        </div>
  {{/if}}

  {{#if data._source.filetype}}
        <div>
            <span class="p-key">Filetype: </span>
            <span class="p-value">{{data._source.filetype}}</span>
        </div>
  {{/if}}

  {{#if data._source.size}}
        <div>
            <span class="p-key">File Size: </span>
            <span class="p-value">{{data._source.size}}</span>
        </div>
  {{/if}}

  {{#if data._source.sha1}}
        <div>
            <span class="p-key">SHA1: </span>
            <span class="p-value">{{data._source.sha1}}</span>
        </div>
  {{/if}}

  {{#if data._source.md5}}
        <div>
            <span class="p-key">MD5: </span>
            <span class="p-value">{{data._source.md5}}</span>
        </div>
  {{/if}}

  {{#if data._source.app_packagename}}
        <div>
            <span class="p-key">Applicaton Package Name: </span>
            <span class="p-value">{{data._source.app_packagename}}</span>
        </div>
  {{/if}}

  {{#if data._source.app_name}}
        <div>
            <span class="p-key">Application Name: </span>
            <span class="p-value">{{data._source.app_name}}</span>
        </div>
  {{/if}}

  {{#if data._source.create_date}}
        <div>
            <span class="p-key">Date File Created: </span>
            <span class="p-value">{{data._source.create_date}}</span>
        </div>
  {{/if}}

  {{#if data._source.finish_date}}
        <div>
            <span class="p-key">Date File Finished Processing: </span>
            <span class="p-value">{{data._source.finish_date}}</span>
        </div>
  {{/if}}

  {{#if data._source.update_date}}
        <div>
            <span class="p-key">Date File Last Updated: </span>
            <span class="p-value">{{data._source.update_date}}</span>
        </div>
  {{/if}}


  {{#if data._source.region}}
    <div class = "tags">
      <h1 class="p-title">
              <i class="fa fa-fw fa-globe"></i> Regions Affected
      </h1>
                {{#each (limit data._source.region maxRegions) as |data|}}
                        <span class="section-tag">{{data}}</span>
                {{/each}}
    </div>
  {{/if}}

  {{#if data._source.tag}}
  <div class = "tags">
    <h1 class="p-title">
            <i class="fa fa-fw fa-tag"></i> Tags
    </h1>
              {{#each (limit data._source.tag maxTags) as |data|}}
                      <span class="section-tag">{{data}}</span>
              {{/each}}
  </div>
  {{/if}}

{{/each}}
{{/if}}
</div>
